{% extends "base.html" %}

{%block head%}
    <title>Babylon login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{%endblock head%}

{%block script%}
{%endblock%}



{% block content%}
    <div class="page-container">
        <div class="lg-design">
            <img src="{{url_for('static', filename='images/seamless_background_212_color1.jpg')}}" alt="https://www.vecteezy.com/free-vector/vector  Vector Vectors by Vecteezy">
            <div class="brand-text">
                <h1>Express Your Creative Nature</h1>
                <p>Inspire others with your artistic/creative works. Join the leading tribe now</p>
            </div>
        </div>
        <div class="body">
            <h1>Sign in</h1>
            <div class="auth-div">
                <div class="form-div">
                    <form action="" method="POST">
                        {{form.hidden_tag()}}
                        <div class="form-field">
                            {{form.username.label(class="label")}}
                            {% if form.username.errors %}
                                {{form.username(class="form-design form-error", placeholder="Username or Email")}}
                                <ul class="error-list">
                                    {% for error in form.username.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{form.username(class="form-design", placeholder="Username or Email")}}
                            {% endif %}
                        </div>
                        <div class="form-field">
                            {{form.password.label(class="label")}}
                            {% if form.password.errors %}
                                {{form.password(class="form-design form-error", placeholder="Password")}}
                                <ul class="error-list">
                                    {% for error in form.password.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {{form.password(class="form-design",placeholder="Password")}}
                            {% endif %}
                        </div>
                        <div class="check">
                            {{form.remember(class="")}} remember me
                        </div>
                        
                        <button type="submit">
                            Sign in <ion-icon name="arrow-forward-outline"></ion-icon>
                        </button>
                    </form>
                    <p>Dont have an account? <a href="#">Sign up</a></p>
                </div>
                <div class="or">
                    <span></span>or<span></span>
                </div>
                <div class="social-login">
                    <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
