{% extends "base.html" %}

{% block head %}
    <title>Sketched Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock head %}


{% block content %}
<main>
    <section class="landing">
        <div class="brand">
            <h1>Express Art And Creativity</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus debitis porro tempore reprehenderit nisi illum iste quae modi aut? Quia.
            </p>
            <a href="#" role="button">Get Started</a>
        </div>
        <div class="bg">
            <img src="{{url_for('static', filename='images/Parrot_PNG_Transparent_Clip_Art_Image.png')}}" alt="">
            <img src="{{url_for('static', filename='images/smokes.png')}}" alt="">
        </div>
    </section>
    <section class="descriptions">
        <div class="voice vone">
            <div class="v-desc v1-main">
                <h1>Share your art with the world</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt modi corrupti distinctio unde at. Pariatur ducimus assumenda sapiente, quis odio atque deleniti ad, quia commodi corporis aut veritatis natus sit.
                </p>
            </div>
            <div class="v1-images">
                <div class="image-cover">
                    <img src="{{url_for('static',filename='images/twitter_img.jpg')}}" alt="sample art image">
                </div>
                <div class="image-cover">
                    <img src="{{url_for('static',filename='images/twitter_image.jpg')}}" alt="sample art image">
                </div>
                <div class="image-cover">
                    <img src="{{url_for('static',filename='images/twitter_girlpaint.jpg')}}" alt="sample art image">
                </div>
                <div class="image-cover">
                    <img src="{{url_for('static',filename='images/twitter_female_art.jpg')}}" alt="sample art image">
                </div>
            </div>
        </div>
        <div class="voice vtwo">
            <div class="v-desc v2-main">
                <h1>Connect with people who love art</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore quos mollitia molestias esse nulla. Quasi id, numquam expedita nihil ipsa ex recusandae aliquam quod voluptas qui reiciendis ratione porro. Eum corrupti quis accusamus rem quidem et exercitationem, eos hic quaerat.
                </p>
            </div>
            <div class="v2-image">
                <img src="{{url_for('static',filename='images/clipart-map-watercolor-11.png')}}" alt="">
            </div>
        </div>
        <div class="voice vthree">
            <div class="v-desc v3-main">
                <h1>Discover trending art styles and approach</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deserunt molestias laboriosam! Nisi ad voluptatum quos hic, mollitia omnis consequatur eveniet est, quod in cumque repudiandae dolores autem quia magnam inventore! Quaerat eligendi tenetur temporibus beatae cupiditate sed fuga recusandae.
                </p>
            </div>
            <div class="v3-images">
                <div>
                    <img src="{{url_for('static',filename='images/twitter_coco.jpg')}}" alt="sample art image">
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}